<div class="container">
  <h1 class="center-align">WoW Market</h1>

  <div class="row">
    <form action="<%= root_path %>" method="get">
      <div class="input-field col s4">
	<%= select_tag :language, options_for_select(@locales, params[:language]), include_blank: "Choose your language2" %>
        <label>Language</label>
      </div>
      
      <div class="input-field col s4">
        <select name="region" id="region-select">
          <option value="">Choose your region</option>
          <% @realms.each do |region| %>
          <option value="<%= region[0] %>"><%= region[0] %></option>
          <% end %>
          </select>
        <label>Region</label>
      </div>
      
      <div class="input-field col s4">
        <select name="realm" id="realm-select">
          <option value="">Choose your realm</option>
        </select>
        <label>Realm</label>
      </div>
      
      <div class="row">
	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
	  <i class="material-icons right">send</i>
	</button>
      </div>
    </form>
      
  </div>
  
</div>
